<% include header.ejs %>
<input type="hidden" id="username" value="<%=title %>">
<div>
    <ul id="friendlist"></ul>
</div>
<div id="dialog">
    <div>
        <ul id="messagelist"></ul>
    </div>
    <form  onsubmit="return false">
        <input type="hidden" id="senderid" value="<%=senderid%>"/>
        <input type="hidden" id="receiverid" value="">
        <input type="text" id="message"/>
        <input type="button" id="sendmessage" value="send"/>
    </form>
</div>
<script src="/socket.io/socket.io.js" ></script>
<script src="/javascripts/user.js"></script>

<% include footer.ejs %>